@media (max-width: 475px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .games {
    display: none;
  }

.top {
  padding-top: 98px;
  padding-bottom: 78px;

  &-img {
    right: -453px;
    top: -493px;
    width: 74%;
    transform: rotate(-168deg);
  }

  &-img1 {
    left: 28.5px;
    top: -35px;
    width: 21%;
  }
}

.header {
  &__title {
    font-size: 40px;
    text-align: center;
    margin: 10px;
  }

  &__text {
    font-size: 16px;
    text-align: center;
  }

  &__button {
    font-size: 16px;
    padding: 16px 103px;
    margin-left: calc(50% - 141px);
  }
}

 .animatedStrip__game {
    font-size: 14px;
    font-weight: 600;
  }

.animatedStrip__img {
  width: 8px;
  height: 8px;
  margin: 0px 8px;
}

.minigames {
  background-image: none;
  padding-bottom: 48px;

  &__heading {
    font-size: 40px;
    line-height: 100%;
    padding: 48px 16px;
  }

  &__card {
    display: flex;
    flex-direction: column;

    &:nth-child(odd) {
      flex-direction: column;
    }
  }

  &__text {
    padding: 29px;
    gap: 16px;
    width: 100%;
    align-items: stretch;
  }

  &__subtitle {
    font-size: 32px;
    padding-bottom: 0px;
  }

  &__article {
    font-size: 16px;
  }

  &__but {
    font-size: 16px;
    padding: 12px 55px;
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__container {
    display: none;
  }
}

.footer__text {
  font-size: 14px;
  line-height: 0px;

}
}
@media (min-width: 466px) and (max-width: 767px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }

  .top {
    padding-top: 75px;
    padding-bottom: 68px;
  }
  
  .header {
  &__title {
    font-size: 41px;
    text-align: center;
    margin: 10px;
  }

  &__text {
    font-size: 17px;
    text-align: center;
  }

  &__button {
    font-size: 17px;
    padding: 19px 105px;
    margin-left: calc(50% - 141px);
  }
}

  .games {
    display: none;
  }

  .minigames {
    background-image: none;
    padding-bottom: 48px;

    &__text {
      width: 100%;
      align-items: center;
    }
  }
}
