@media(max-width:475px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
.top {
    padding-top: 98px;
    padding-bottom: 78px;

    &-img {
        right: -96px;
        top: -235.14px;
        width: 74%;
        transform: rotate(-142deg);
    }
    &-img1 {
        left: 20.5px;
        top: -46px;
        width: 31%;
}
}
}
.animatedStrip {
    height: 51px;
    &__game {
        font-size: 16px;
    }
}
.header{
    &__title {
        font-size: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__text {
        font-size: 16px;
        text-align: center;
    }
    &__button {
        font-size: 16px;
        padding: 16px 103px;
        margin-left: 35px;
    }
    }
.games {
    display: none;
    &__heading {
        font-size: 40px;
        text-align: center;
        max-width: 262px;
        margin-left: auto;
        margin-right: auto;
        padding: 32px 0px 46px;
    }
    &__text {
        font-size: 16px;
        text-align: center;
        padding: 0;
        line-height: 100%;
        padding-bottom: 32px;
    }
    &__card {
        margin: 0px 16px;
    }
    }
.minigames {
    &__heading {
        font-size: 40px;
        line-height: 100%;
        padding: 48px 16px;
    }
    &__img {
        height: 285px;
    }
    &__text {
        padding: 29px;
    }
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
    }
    &__subtitle {
        font-size: 32px;
        padding-bottom: 0px;
    }
    &__article {
        font-size: 16px;
    }
    &__but {
        font-size: 16px;
        padding: 12px 93px;
    }
    &__first {
        display: flex;
        flex-direction: column;
    }
    &__two {
        display:flex;
        flex-direction: column;
    }
    &__three {
        display:flex;
        flex-direction: column;
    }
    &__four {
        display:flex;
        flex-direction: column;
    }
    &__five {
        display:flex;
        flex-direction: column;
    }
    &__six {
        display:flex;
        flex-direction: column;
        margin-bottom: 48px;
    }
    &__container {
        display: none;
    }
    }
.footer__text {
    font-size: 16px;
}