@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .top-img1 {
        width: 12%;
    }

    .top-img {
        right: -452px;
        top: -334.14px;
        width: 81%;
    }

    .games__heading {
        font-size: 54px;
    }

    .games__text {
        font-size: 20px;
        padding: 0px;
    }

    .games__content {
        gap: 24px;
    }

    .games__box {
        background-position: 39% -60%;
    }

    .minigames__heading {
        font-size: 55px;
        font-size: 50px;
        padding: 45px 0px 45px;
    }

    .minigames__text {
        width: 45%;
        gap: 24px;
        padding: 24px 8px 32px 16px;
    }

    .minigames__subtitle {
        font-size: 36px;
    }

    .minigames__article {
        font-size: 20px;
    }

    .minigames__but {
        font-size: 20px;
        padding: 12px 54px;
    }
}

@media (min-width: 768px) and (max-width: 853px) {
    .center {
        padding-left: 32px;
        padding-right: 32px;
        text-align: center;
    }
    .top-img {
        right: -176px;
        top: -251.14px;
        transform: rotate(-142deg);
    }
    .header__title {
        font-size: 46px;
    }

    .header__button {
        padding: 12px 45px;
        font-size: 20px;
    }

    .header__text {
        font-size: 20px;
        margin-bottom: 55px;
    }

    .animatedStrip__game {
        font-size: 20px;
        font-size: 15px;
    }

    .top-img1 {
        left: -20px;
        top: -82px;
    }

    .games__content {
        gap: 12px;
    }

    .games__text {
        font-size: 19px;
        padding: 0px;
        margin-bottom: 32px;
        line-height: 25px;
    }

    .games__heading {
        font-size: 50px;
        padding-top: 45px;
    }

    .minigames {
        padding-bottom: 96px;
    }
}