* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat";
}

.top {
  padding-top: 196px;
  padding-bottom: 156px;
  background-color: #E1FF8F;
  overflow: hidden;
}
.top-container {
  position: relative;
}
.top-img {
  position: absolute;
  right: -619px;
  top: -574.29px;
}
.top-img1 {
  position: absolute;
  left: -45px;
  top: -92px;
}

.header {
  color: #202027;
  font-family: inherit;
}
.header__title {
  font-family: inherit;
  font-size: 64px;
  max-width: 768px;
  margin-bottom: 24px;
  font-weight: 700;
}
.header__text {
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 48px;
  max-width: 720px;
}
.header__button {
  border-radius: 60px;
  background-color: #202027;
  color: white;
  padding: 16px 65px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.5s;
}
.header__button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.animatedStrip {
  box-sizing: border-box;
  background: rgb(188, 236, 48);
  text-align: center;
  padding: 9px;
  overflow: hidden;
}
.animatedStrip__game {
  color: rgb(32, 32, 39);
  text-decoration: none;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
}
.animatedStrip__img {
  width: 16px;
  height: 16px;
  margin: 0px 5px;
}

.games__box {
  background: rgb(32, 32, 39);
  background-image: url(./img/vaivai.png);
  background-position: 64% 0%;
  background-repeat: no-repeat;
  padding-bottom: 0px;
}
.games__heading {
  color: white;
  font-size: 64px;
  max-width: 788px;
  padding-top: 94px;
}
.games__link {
  text-decoration: none;
}
.games__text {
  color: white;
  font-size: 24px;
  line-height: 36px;
  padding: 24px 493px 72px 2px;
}
.games__numbering {
  background-color: rgba(0, 17, 0, 0.0666666667);
  border-radius: 30px;
  color: rgb(32, 32, 39);
  max-width: 108px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px 10px 30px;
  margin: 16px;
}
.games__name {
  font-size: 32px;
  padding: 18px 32px 36px 32px;
  color: #202027;
  text-align: left;
  max-width: 314px;
}
.games__names {
  font-size: 34px;
  padding: 0px 32px 36px 18px;
  color: #202027;
  text-align: left;
  max-width: 314px;
}
.games__content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.games__card {
  border-radius: 30px;
  background: rgb(247, 246, 246);
  transition: all 0.5s;
}
.games__card:hover {
  transform: scale(1.1);
}

.minigames__box {
  background: rgb(32, 32, 39);
}
.minigames__starrt {
  position: relative;
  top: 0px;
  right: -1229px;
  background-color: transparent;
}
.minigames__start {
  position: relative;
  top: -87px;
  right: -1108px;
  background-color: transparent;
}
.minigames__heading {
  color: white;
  font-size: 64px;
  max-width: 788px;
  padding: 96px 0px 72px;
}
.minigames__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
}
.minigames__first {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  border-radius: 30px;
}
.minigames__two {
  display: flex;
  background-color: #ffffff;
  border-radius: 30px;
}
.minigames__three {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  border-radius: 30px;
}
.minigames__four {
  display: flex;
  background-color: #ffffff;
  border-radius: 30px;
}
.minigames__five {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  border-radius: 30px;
}
.minigames__six {
  display: flex;
  margin-bottom: 144px;
  background-color: #ffffff;
  border-radius: 30px;
}
.minigames__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  padding: 48px 0px 48px 48px;
  margin-right: 233px;
}
.minigames__subtitle {
  font-size: 48px;
}
.minigames__article {
  font-size: 24px;
}
.minigames__but {
  border-radius: 60px;
  background-color: #202027;
  padding: 16px 65px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
}
.minigames__img {
  width: 100%;
}

.footer {
  background: rgb(189, 237, 53);
}
.footer__text {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  padding: 32px 0px 32px 0px;
  line-height: 29px;
}

@media (max-width: 475px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    padding-top: 98px;
    padding-bottom: 78px;
  }
  .top-img {
    right: -139px;
    top: -229.14px;
    width: 74%;
    transform: rotate(-142deg);
  }
  .top-img1 {
    left: 28.5px;
    top: -35px;
    width: 21%;
  }
  .animatedStrip {
    height: 51px;
  }
  .animatedStrip__game {
    font-size: 16px;
  }
  .header__title {
    font-size: 40px;
    text-align: center;
    margin: 10px;
  }
  .header__text {
    font-size: 16px;
    text-align: center;
  }
  .header__button {
    font-size: 16px;
    padding: 16px 103px;
    margin-left: 35px;
  }
  .games {
    display: none;
  }
  .games__heading {
    font-size: 40px;
    text-align: center;
    max-width: 262px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0px 46px;
  }
  .games__text {
    font-size: 16px;
    text-align: center;
    padding: 0;
    line-height: 100%;
    padding-bottom: 32px;
  }
  .games__card {
    margin: 0px 16px;
  }
  .minigames__heading {
    font-size: 40px;
    line-height: 100%;
    padding: 48px 16px;
  }
  .minigames__text {
    padding: 29px;
    gap: 16px;
    margin-right: 0px;
  }
  .minigames__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  .minigames__subtitle {
    font-size: 32px;
    padding-bottom: 0px;
  }
  .minigames__article {
    font-size: 16px;
  }
  .minigames__but {
    font-size: 16px;
    padding: 12px 93px;
  }
  .minigames__first {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  .minigames__two {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
  }
  .minigames__three {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
  }
  .minigames__four {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
  }
  .minigames__five {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
  }
  .minigames__six {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 48px 0px;
  }
  .minigames__container {
    display: none;
  }
  .minigames__starCon {
    display: none;
  }
  .footer__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */