*{
    margin: 0;
    padding: 0;
}
.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
  }
/* body {
    background-image: url(./img/heder-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } */

.top {
    padding-top: 196px;
    background-image: url(./img/heder-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-container {
    position: relative;
}

.top-img {
    position: absolute;
    left: 939px;
    top: -574.29px;
}
.top-img1 {
    position: absolute;
        left: -156px;
        top: -76px;
}

.heading {
    color: aliceblue;
    font-family: inherit;
    font-size: 64px;
    padding: 94px 131px 10px 131px;
}

.heading-big {
    font-family: inherit;
    font-size: 64px;
    width: 768px;
}

.heading-top {
    padding-top: 24px;
    padding-bottom: 48px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    width: 720px;
    height: 64px;
}

.heading-min {
    color: aliceblue;
    font-family: Montserrat;
    font-size: 32px;
    padding: 64px 121px;
    
}

.button {
    padding: 5px 25px 5px 25px;
    border-radius: 60px 60px 60px 60px;
    margin-bottom: 156px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    transition: all .5s;
}

.button:hover {
      background-color: rgb(255, 255, 255);
      color: black;
      cursor: pointer;
    }

.container {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
}

.container-bar {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; 
}

.star-min1 {
    width: 36px;
    height: 36px;
    margin: 0px 51px;
}

.game {
    border-radius: 30px;
    background: rgb(247, 246, 246);
}

.game-img {
    width: 100%;
}

.game-box {
    background-image: url(./img/Group-об-играх-фон1597880580.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 144px;
}

.game-text1 {
    color: rgb(32, 32, 39);
    font-family: inherit;
    padding: 36px 32px;
    }

.game-text {
    color: rgb(32, 32, 39);
    font-family: inherit;
    font-size: 16px;
    padding: 16px;
}

.game-content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin-bottom: 63px;
}

.minigame {
    width: 100%;
    border-radius: 30px;
    background: rgb(247, 246, 246);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.footer-text {
    margin-top: 42px;
    background-color: hsl(90, 100%, 50%);
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 24px;
    text-align: center;
}