*{
    margin: 0;
    padding: 0;
}
.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
  }
body {
    background-image: url(./img/heder-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.top {
    padding-top: 196px;
    /* background-image: url(./img/heder-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

&-container {
    position: relative;
}

&-img {
    position: absolute;
    left: 939px;
    top: -574.29px;
    overflow: hidden;
}
&-img1 {
    position: absolute;
        left: -156px;
        top: -76px;
}
}

.heading {
    color: aliceblue;
    font-family: inherit;
    font-size: 64px;
    padding: 48px 131px 48px 131px;

&-big {
    font-family: inherit;
    font-size: 64px;
    max-width: 768px;
}

&-top {
    padding: 24px 821px 48px 0px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    // width: 720px;
    // height: 64px;
}

&-min {
    color: aliceblue;
    font-family: Montserrat;
    font-size: 32px;
    padding: 3% 26% 5% 9%;  
}
}

.button {
    display: block;
    text-decoration: none;
    margin-right: 1272px;
    padding: 5px 25px 5px 25px;
    border-radius: 60px 60px 60px 60px;
    margin-bottom: 156px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    transition: all .5s;

&:hover {
      background-color: rgb(255, 255, 255);
      color: black;
      cursor: pointer;
    }
}

.container {
    box-sizing: border-box;
    background: rgb(188, 236, 48);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    overflow: hidden;

&-bar {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; 
}
}

.star-min1 {
    width: 27px;
    height: 21px;
    margin: 0px 12px;
}

.game {
    border-radius: 30px;
    background: rgb(247, 246, 246);
    transition: all 0.5s;

&:hover {
    transform: scale(1.1);
}

/* .game-img {
    width: 100%;
} */

&-box {
    background: rgb(32, 32, 39);
    background-image: url(./img/vaivai.png);
    background-position: 17% 0%;
    background-repeat: no-repeat;
    padding-bottom: 0px;
}

&-text1 {
    color: rgb(32, 32, 39);
    font-family: inherit;
    padding: 36px 32px;
    }

&-text {
    color: rgb(32, 32, 39);
    font-family: inherit;
    font-size: 16px;
    padding: 16px 32px;
}

&-content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin-bottom: 63px;
}
}

.minigame {
    border-radius: 30px;
    background: rgb(247, 246, 246);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.footer-text {
    margin-top: -63px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 24px;
    text-align: center;
}

@import '_vars.scss';
@import '_tablet.scss';
@import '_mobile.scss';