@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }
    .top {
        padding: 83px 208px;
        display: flex;
}
.heading-min {
    padding: 0% 4% 5% 23%;
}
.minigame1 {
    width: 755px;
}
.minigame2 {
    width: 755px;
}
.minigame3 {
    width: 755px;
}
.minigame4 {
    width: 755px;
}
.minigame5 {
    width: 755px;
}
}